@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.ql-tooltip.ql-hidden {
  display: none;
}

.quill .ql-editor {
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  font-family: "Gagalin", sans-serif !important;
}

h3,
h4,
h5,
h6 {
  font-family: "Cocomat Pro Bold", sans-serif !important;
}

body {
  font-family: "Nunito", sans-serif;
}

p {
  font-family: "Nunito", sans-serif !important;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #020818;
  color: white;
}

.vertical-timeline::before {
  background: none !important; /* Supprime le fond plein */
  border-left: 2px dashed #ccc !important; /* Ligne pointillée noire */
  top: 0;
  bottom: 0;
  content: "";
  position: absolute;
  left: 18px; /* Ajuste selon le layout */
  width: 0;
}
